.Logo{
  font-size: 40px;
  color: #D4AF37;
  font-feature-settings: 'cpsp' on;
  font-family: 'League Spartan';
margin-bottom: 10%;
margin-left: 8%;
}

.navbar{
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;

width: 100%;
height: 80px;
display: flex;
flex-wrap: wrap;
position: sticky;
}
.menu{
  height: 80px;
  width: 1800px;
  background-color: #1b1b1b;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  justify-content: center;
  justify-content: space-around;
  
}
.navbarItem{
  margin-top: 20px;
  font-size: 20px;
text-decoration: none;
color: rgb(255, 255, 255);
font-family: 'Poppins';
text-align: center;
font-weight: 900;

font-style: italic;
}
.navbarItem:hover{
  color: #FE4164
  ;
}
body{
  background-image:url("/img/abstracto.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.PresentacionArticle{
width:1800px;
height: 1500px;
position: sticky;
text-align: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url(/img/homehd.jpg);
box-shadow: 5px 5px 20px;

}
.ArticleEntrada{
  display: flex;
  justify-content: center;

}
body article h1{
  font-size: 300%;
  font-family: 'Poppins';
  color: white;
font-weight: 900;
font-style: italic;
}
body article h1 span{
  font-size: 150%;
  font-family: 'Aguafina Script', cursive;
    color: white;
letter-spacing:5px;

font-style: italic;
}
body article h2{
  font-size: 200%;
  font-family: 'League Spartan';
  color: #FE4164;
}
body article a{
  font-size: 130%;
  font-family: 'Cinzel';
  letter-spacing: 8px;
  color: #ffffff;
  font-style: italic;
}

.myButton {
  font-family: 'Arial';
	background-color:#FE4164;
  font-weight: bold;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:13px 22px;
	text-decoration:none;
  letter-spacing:2px;

}
.myButton:hover {
	background:linear-gradient(to bottom, #FE4164 5%, #FE4189 100%);
	background-color:#FE4164
  ;
}
.myButton:active {
	position:relative;
	top:1px;
}
.Imagenes{
  height: fit-content;
  width: fit-content;
font-size: 50px;
background-size: cover;
}

.Carousel{
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;

  margin-top: 110px;
width: 100%;
height: 150px;
display: flex;
flex-wrap: wrap;

}
.SobreMi{
background-image: url("/img/portfolio2.jpg");  width: 100%;
  height: 100%;
  margin-top: 12%;
  background-repeat: no-repeat;
background-size: cover;
box-shadow: 5px 5px 20px;

}
.Portfolio{
  background-image: url("/img/portfolio2.jpg");  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
background-size: cover;
box-shadow: 5px 5px 20px;

}
.cajaProyecto{
  width: 20%;
  height: 600PX;
  box-shadow: 5px 5px 20px;
  background-color: #303030;
  flex-wrap: wrap;
  min-width: 350px;
}
.proyectContainer{
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}
.SobreMi2{
  background-image: url("/img/portfolio2.jpg");  width: 100%;
    height: 70%;
    margin-top: 8%;
    background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 5px 20px;

}
.proyectImage{
  margin-top: 15%;
  width: 80%;
  border-radius: 140px;
  box-shadow: 5px 5px 20px;
  margin-bottom: 3%;

}
article section div p {
  
  font-size: 90%;
  font-family: 'Cinzel';
  letter-spacing: 1px;
  color: #ffffff;
  font-style: italic;
}
article section div a {
  
  font-size: 90%;
  font-family: 'Cinzel';
  letter-spacing: 1px;
  color: aqua;
  font-style: italic;
}